<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./project.css">
</head>

<body style="background-color: #f84258;">
    <%-include('common/header')%>
        <div class="forgotPass" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px">
        <p class="loginLabel" style="font-weight: 900;color: #f84258;margin-left: 0;">Enter Email</p>
        <%if(msg!=''){%>
            <p class="message" id="flashmsg" style="font-weight: 900;margin-left: 0;">
                <%= msg %>
            </p>
            <%}%>
                <form action='/forgot' method="POST" class="login-box" style="margin-left: 10%;">
                    <input type="text" placeholder="Enter your E-mail" name="email"  style="color: black;font-weight: 900;width: 70%;"><br>
                    <input type="submit" id="submit" value="Submit" >
                </form>
        </div>
                <%-include('common/footer')%>
                    <script src="./js/login.js"></script>


                    <script>setTimeout(() => {
                            let flashmsg = document.querySelector("#flashmsg")
                            flashmsg.style.display = "none"
                        }, 4000)</script>
</body>

</html>