<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./project.css">
</head>

<body  style=" background-image:linear-gradient(to right,rgba(2, 2, 2, 0.7),rgba(2, 2, 2, 0.7)),url(./images/3636.jpg);background-size: 100% 100%;">
    <%-include('common/header')%>
        <div class="photos">
        <p class="loginLabel">LOGIN HERE</p>
        <%if(msg!=''){%>
            <p class="message" id="flashmsg" style="font-weight: 900;">
                <%= msg %>
            </p>
            <%}%>
                <form action='/forgot' class="login-box" method="POST">
                    <input type="text" placeholder="Enter you E-mail" name="email" id="Username" style="color: black;font-weight: 900;"><br>
                    <input type="submit" id="submit" value="Submit" >
                </form>
        </div>
                <%-include('common/footer')%>
                    <script src="./js/login.js"></script>

                    <script>setTimeout(() => {
                            let flashmsg = document.querySelector("#flashmsg")
                            flashmsg.style.display = "none"
                        }, 4000)</script>
</body>

</html>