<!DOCTYPE html>
<html lang="en">

<head>
    <title>register</title>
    <link rel="stylesheet" href="project.css">
</head>

<body style=" background-color: #f84258;">
    <%-include('common/header')%>
        <form action="/register" method="POST" class="register" enctype="multipart/form-data">
            <div>
                <img src="./images/dress.jpg" id="registerImg">
            </div>
            <div>
                <h2 style="margin-left:30%;margin-top: 10%;">REGISTER HERE</h2>
                <%if(msg!=''){%>
                <p class="message" id="flashmsg" style="margin-left: 10%;margin-bottom: 0;"><%= msg%></p>
                <%}%>
                <p id="vaild-pass" style="color: #f84258;margin-left: 10%;margin-bottom: 0;"></p>
                <div class="registerForm">
                    <input type="text" name="fname" id="fname" placeholder="First Name" style="color: black;font-weight: 900;" required><br>
                    <input type="text" name="lname" id="lname" placeholder="Last Name" style="color: black;font-weight: 900;" required><br>
                    <input type="text" name="email" placeholder="Email Address" oninput="return validUserName()" style="color: black;font-weight: 900;" required><br>
                    <input type="text" name="phone" id="phone" placeholder="Phone Number" oninput="return validPhone()" style="color: black;font-weight: 900;" required><br>
                    <input type="password" name="password" placeholder="password" oninput="return validPass()" id="pass" style="color: black;font-weight: 900;" required><br>
                    <input type="password" name="currentPassword" id="currentPassword" placeholder="current password" style="color: black;font-weight: 900;" required><br>
                    <input type="submit" name="submit"  style="margin-left: 3%;font-weight: 900;color:#f84258;font-weight: 900;border: none;height: 30px;width: 20%;background-color:#eceaea;"><br>
                </div>
            </div>
        </form>
        <%-include('common/footer')%>
            <script src="./js/login.js"></script>
            <script>
               function validPass() {
            var vaildepass = document.getElementById("pass").value;
            var minNumberofChars = 5;
            var maxNumberofChars = 16;
            var regularExpression = /((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})/;
            if (vaildepass.length <= minNumberofChars || vaildepass.length >= maxNumberofChars) {
                document.getElementById("vaild-pass").innerHTML = "length must be between 6 to 16";
                return false;
            }
            else if (!regularExpression.test(vaildepass)) {
                document.getElementById("vaild-pass").innerHTML = "password should be of the format:25aA@";
                return false;
            }
            else {
                document.getElementById("vaild-pass").innerHTML = "";
            }
        }
        function validEmail() {
            var vaildemail = document.getElementById("email").value;
            console.log(vaildemail);
            let regex = /^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$/;
            let result = regex.test(vaildemail);
            if (!result) {
                document.getElementById("vaild-pass").innerHTML = "Please enter valid email id";
                return false;
            }
            else {
                document.getElementById("vaild-pass").innerHTML = "";
            }
        }
                function validPhone() {
                    var vaildPhone = document.getElementById("phone").value;
                    let regex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
                    let result = regex.test(vaildPhone);
                    if (!result) {
                        document.getElementById("vaild-pass").innerHTML = "Please enter valid phone number,the format should be +91XXXXXXXXXX";
                        return false;
                    }
                    else {
                        document.getElementById("vaild-pass").innerHTML = "";
                    }
                }
            </script>
            <script>
                document.getElementById('login').style.color = "black"
                document.getElementById('header-register').style.color = "#f84258"</script>
            <script>setTimeout(()=>{
        let flashmsg =  document.querySelector("#flashmsg")
         flashmsg.style.display ="none"
       },4000)</script>
</body>

</html>