<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./project.css">
</head>

<body  style="background-color: #f84258;">
    <%-include('common/header')%>
        <div style="background-color: white;width: 40%;height: 300px;margin-top: 10%;margin-bottom: 10%;margin-left: 25%;box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;" class="container">
            <%if(msg!=""){%>
            <span id="flashmsg" class="message"><%=msg%></span>
            <%}%>
        <form action='/changePassword' class="login-box" method="POST">
            <input type="password" name="password" id="password" placeholder="Enter new password" style="color: black;font-weight: 900;" required><br>
            <input type="password" name="confirmPassword" id="password" placeholder="Confirm Password" style="color: black;font-weight: 900;" required><br>
            <input type="submit" id="submit" value="Change Password" >
        </form>
    </div>
                <%-include('common/footer')%>
                    <script src="./js/login.js"></script>
</body>

</html>