<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./project.css">
</head>

<body  style=" background-image:linear-gradient(to right,rgba(2, 2, 2, 0.7),rgba(2, 2, 2, 0.7)),url(./images/3636.jpg);background-size: 100% 100%;">
    <%-include('common/header')%>
        <div class="photos">
            <%if(msg!=""){%>
            <span id="flashmsg" class="message"><%=msg%></span>
            <%}%>
        <form action='/changePassword' class="login-box" method="POST">
            <input type="password" name="password" id="password" placeholder="Enter new password" style="color: black;font-weight: 900;" required><br>
            <input type="password" name="confirmPassword" id="password" placeholder="Confirm Password" style="color: black;font-weight: 900;" required><br>
            <input type="submit" id="submit" value="Change Password" >
        </form>
    </div>
                <%-include('common/footer')%>
                    <script src="./js/login.js"></script>
</body>

</html>